{% extends 'templates/platilla.twig' %}

{% block content %}

<a id="modarerror"></a>

  <div id="estilo-contenedor-textocategoria"class="container">

      <div class="row"  id="fila"  >
        <div class="panel panel-default">
          <div class="panel-heading" style="height: 40px">
            <div class="coll">
              <h3 class="panel-title">
                <center><strong>Categorías</strong></center>
              </h3>
            </div>
          </div>
        </div>
      </div>
  </div>


  <!--Contenedor de tarjetas-->

  <div     id="estilo-contenedor" class="container"  >
    <div class="row" style="margin-top: 10px;" id="fila">


    </div>
  </div>


{% endblock %}

{% block scriptPagina %}
  <script type="text/javascript" src="js/Errores.js"></script>
  <script type="text/javascript" src="js/modalerror.js"> </script>
  <script src="js/inicio.js"></script>
{% endblock %}
